.contenedor{
    display: flex;
    width: 80vw;
    height: 100vh;
    align-items: center;
    margin-left: 20% ;
    justify-content: center;

    
}

/* .contenedor_dos{
    width: 500px;
    display: flex;
    gap: 12px;

} */

.contenedor_hijo{

    flex: 2 1 300px;
    height: 250px;
    inline-size: 300px;
    block-size: 300px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.175);
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: solid rgba(255, 255, 255, 0.581) 2px;
    

}