.contenedor{
    display: flex;
    width: 80vw;
    height: 100vh;
    align-items: center;
    margin-left: 20% ;
    justify-content: center;

    
}


.micontainer{
    font-family: 'Segoe UI', Tahoma;
    display: flex;
    gap: 6px;
    width: 90%;
    flex-wrap: wrap;
    margin-left: 30px;
    
}

/* .flex-item:hover{
    box-shadow: 0 0 5px 5px #00000076 inset, 0 0 10px 4px #00000084;} */

.flex-item{
    background-color: #ffffff52;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 100px;
    box-shadow: 0px 0px 8px 0px;
    border-radius: 10px;
    /* transition: box-shadow 0.2s ease-in-out */
}

/* .titulo{

    background-color: blueviolet;
    width: 50%;
    height: 100px;
} */
.num{
    width: 50%;
    background-color: aqua;
    font-size: 5vmax;
    height: 200px;

}