
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.body{
    background-color: #0080FF;
    width: max-content;
    height: max-content;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 0px 10px #00000033;
    padding: 50px;
    text-align: center;
}

img{
    inline-size: 400px;
    block-size: auto;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 0px 10px #00000033;

}
.container{
    display: flex;
}

h1 {
    font-size: 24px;
    margin-block-end: 20px;
}

.form-group {
    margin-block-end: 15px;
    text-align: start;
}


.input {
    inline-size: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
}
#input{
    background-color: #fff;
    color: black;
}

button {
    background-color: #0080FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 500px) {
    img{
        display: flex;
        inline-size: 100%;
        block-size: auto;
        border-radius: 5px 5px 0 0;

    }
    .container{
        display: block;
    }
    .login-container{
        border-radius: 0% 0% 5px 5px;

    }
}

@media (max-width: 767px) {
    img{
        display: flex;
        inline-size: 100%;
        block-size: auto;
        border-radius: 5px 5px 0 0;

    }
    .container{
        display: block;
    }
    .login-container{
        border-radius: 0 0 5px 5px;

    }
}