@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    width: 100%;
    height: 4rem;
    position: fixed;
    justify-content:flex-end;
    align-items: center;
    background-color: #f0f8ff15;
    box-shadow: 0 0px 6px 0 #000000;


}

nav{
    margin: 20px;
    
}

.Link{
    inline-size: 100%;
    block-size: 100%;
    text-decoration: none;
    color: aliceblue;
    padding: 15px;
}


.perfil_user{
    inline-size: 50px;
    border-radius: 50%;
    margin: 7px 2px 9px;
    
}



.aside{
    width: 20rem;
    height: 100%;
    padding: 10px;
    background-color: #0048ff;
    color: aliceblue;
    transition: all .4s ease;
    position: fixed;
    z-index: 10;

}

.head img{
    inline-size: 50px;
    border-radius: 50%;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: 50px;
    margin-block-end: 30px
}
.icono_menu{
    display: none;
}


.head p{
    margin-block-start: 10px;
}

.profile{
    display: flex;
}
.profile img {
    margin-inline-end: 10px;
}

.options div{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-block-end: 5px;
    font-size: 1.1rem;
    border-radius: 20px;
}

.options div:hover{
    background-color: aliceblue;
    transition: all .60 ease-in-out;
    color: #0048ff;
    .Link{color:#0048ff}
}
.option{
    margin-left: 10px;
}

.cerrar_sesion{
    width: 7rem;
    height: auto;
    margin: 15cqmax  9rem;
}



@media (max-width:300px) {

/* ////////  PARA ENCOGER EL MENU  //////// */
.aside.active {
    inline-size: 0;

    transition: all .4s ease;
}
/* ///// PARA DESAPARECER LAS OPCIONES ////// */
.aside.active .option,
.aside.active .profile{
    display: none;
}

.aside.active .head i{
    margin: auto;
    color: #000000;
}

.aside.active .cerrar_sesion{
    display: none;
    
}
.aside.active .Link{
    display: none;
}


.icono_menu{
    display:initial;
    font-size: 30px;
    cursor: pointer;
 
}

}

@media (max-width:500px) {

/* ////////  PARA ENCOGER EL MENU  //////// */
.aside.active {
    width: 0;
    height: 0;
    background-color: #fff;
    transition: all .4s ease;
}
/* ///// PARA DESAPARECER LAS OPCIONES ////// */
.aside.active .option,
.aside.active .profile{
    display: none;
}

.aside.active .head i{
    margin: 0;
    color: #000000;
}

.aside.active .cerrar_sesion{
    display: none;
    
}
.aside.active .Link{
    display: none;
}

    .icono_menu{
        display:initial;
        font-size: 30px;
        cursor: pointer;
     
    }
    nav{
       display: flex;
    }

}

@media (max-width:800px) {

   /* ////////  PARA ENCOGER EL MENU  //////// */
.aside.active {
    width: 0;
    height: 0;
    background-color: #fff;
    transition: all .4s ease;
}
/* ///// PARA DESAPARECER LAS OPCIONES ////// */
.aside.active .option,
.aside.active .profile{
    display: none;
}

.aside.active .head i{
    margin: 0;
    color: #000000;
}

.aside.active .cerrar_sesion{
    display: none;
    
}
.aside.active .Link{
    display: none;
}

.icono_menu{
    display:initial;
    font-size: 30px;
    cursor: pointer;
 
}
nav{
   display: flex;
}

}

@media (max-width:900px) {

    /* ////////  PARA ENCOGER EL MENU  //////// */
 .aside.active {
    width: 0;
    height: 0;
    background-color: #fff;
     transition: all .4s ease;
 }
 /* ///// PARA DESAPARECER LAS OPCIONES ////// */
 .aside.active .option,
 .aside.active .profile{
     display: none;
 }
 
 .aside.active .head i{
     margin: auto;
     color: #000000;
 }
 
 .aside.active .cerrar_sesion{
     display: none;
     
 }
 .aside.active .Link{
     display: none;
 }
 
 .icono_menu{
     display:initial;
     font-size: 30px;
     cursor: pointer;
  
 }
 nav{
    display: flex;
 }
 
 }
 
